In [ ]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [2]:
df=pd.read_csv("C:\\Users\\pushp\\Downloads\\spaceship-titanic\\train.csv")
test=pd.read_csv("C:\\Users\\pushp\\Downloads\\spaceship-titanic\\test.csv")

In [3]:
df=df.drop(['PassengerId','Cabin','Name'],axis=1)
testId=test['PassengerId']
test=test.drop(['PassengerId','Cabin','Name'],axis=1)
so=SimpleImputer(strategy='most_frequent')
si=si=SimpleImputer(strategy='mean')
for col in df.columns:
    if df[col].dtype=='object':
        df[col] = so.fit_transform(df[col].values.reshape(-1, 1))
    else:
        df[col] = si.fit_transform(df[col].values.reshape(-1, 1))
testId

0       0013_01
1       0018_01
2       0019_01
3       0021_01
4       0023_01
         ...
4272    9266_02
4273    9269_01
4274    9271_01
4275    9273_01
4276    9277_01
Name: PassengerId, Length: 4277, dtype: object

In [4]:
from sklearn.preprocessing import LabelEncoder
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   object
 1   CryoSleep     8693 non-null   object
 2   Destination   8693 non-null   object
 3   Age           8693 non-null   float64
 4   VIP           8693 non-null   object
 5   RoomService   8693 non-null   float64
 6   FoodCourt     8693 non-null   float64
 7   ShoppingMall  8693 non-null   float64
 8   Spa           8693 non-null   float64
 9   VRDeck        8693 non-null   float64
 10  Transported   8693 non-null   float64
dtypes: float64(7), object(4)
memory usage: 747.2+ KB

In [5]:
le=LabelEncoder()
print(df.columns)
print(test.columns)
for col in df.columns:
    df[col]=le.fit_transform(df[col])
for col in test.columns:
    test[col]=le.fit_transform(test[col])
X=df[['HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']]
y=df[['Transported']]
df

Index(['HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Transported'],
      dtype='object')
Index(['HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'],
      dtype='object')

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,1,0,2,40,0,0,0,0,0,0,0
1,0,0,2,24,0,109,9,25,457,44,1
2,1,0,2,59,1,43,1207,0,1274,49,0
3,1,0,2,34,0,0,807,333,1133,187,0
4,0,0,2,16,0,278,69,149,471,2,1
...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,0,42,1,0,1390,0,933,74,0
8689,0,1,1,18,0,0,0,0,0,0,0
8690,0,0,2,26,0,0,0,973,1,0,1
8691,1,0,0,33,0,0,740,0,322,1114,0
8692,1,0,2,45,0,124,1313,0,0,12,1

In [6]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X=sc.fit_transform(X)
test=sc.transform(test)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=True)
print(X_train.shape,",",y_train.shape)

(6954, 10) , (6954, 1)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [10]:
rf=RandomForestClassifier(random_state=442)
logR=LogisticRegression()

In [11]:
rf.fit(X_train,y_train)
logR.fit(X_train,y_train)
from sklearn.metrics import accuracy_score
print('accuracy : ',accuracy_score(y_test,logR.predict(X_test)))
print('accuracy : ',accuracy_score(y_test,rf.predict(X_test)))

C:\Users\pushp\AppData\Local\Temp\ipykernel_8916\264841521.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train,y_train)

accuracy :  0.7958596894767107
accuracy :  0.7901092581943646

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
ans=logR.predict(test)

In [13]:
ans=pd.DataFrame(ans,columns=['Transported'])
ans

      Transported
0               1
1               0
2               1
3               1
4               0
...           ...
4272            1
4273            1
4274            1
4275            1
4276            1

[4277 rows x 1 columns]

In [14]:
print(ans['Transported'].unique())

[1 0]

In [15]:
ans=ans==1

In [16]:
dfn=pd.DataFrame(testId,columns=['PassengerId'])

In [17]:
ans=pd.concat([dfn,ans],axis=1)
ans.columns = ['PassengerId', 'Transported']

In [18]:
ans.to_csv("C:\\Users\\pushp\\Downloads\\spaceship-titanic\\output.csv",index=False)

In [19]:
ans

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01        False
...          ...          ...
4272     9266_02         True
4273     9269_01         True
4274     9271_01         True
4275     9273_01         True
4276     9277_01         True

[4277 rows x 2 columns]